.disabled {
  opacity: 0.7;
  // pointer-events: none;
}

.field-wrap.bg input,
.field-wrap.bg textarea {
  background-color: transparent;
  caret-color: white !important;
  border: 1px solid #a187bf;
}

input,
textarea {
  text-transform: uppercase;
}

textarea {
  width: 95% !important;
}
