import { IacDecCom<%=classify(name)%>CardStatus } from "../enums/iac-dec-com-<%=name%>-card-status.enum";

export interface IacDecCom<%=classify(name)%>CardData {
  status?: IacDecCom<%=classify(name)%>CardStatus;
  statusText?: string;
  id?: number;
  time?: string;
  date?: string;
  textInfo?: string;
  textDescr?: string;
  update?: string;
  addition?: string;
  duration?: number;
}
