@import "projects/@atlp/scss/variables";
@import "projects/@atlp/scss/mixins";

.atlp-table-control-button-margin button {
  @include margin-right(15px);
}

.atlp-table-flex-container {
  flex: 1 1 0%;
  box-sizing: border-box;
  flex-direction: row;
  display: flex;
  place-content: center flex-end;
  align-items: center;
  @media screen and (max-width: 1024px) {
    flex-direction: column;
    display: flex;
    place-content: center flex-end;
    align-items: flex-start;
    gap: 9px;
  }
}
