import { NgModule } from "@angular/core";
import { CommonModule } from "@angular/common";
import { IacDecComAccordionTwoComponent } from "./iac-dec-com-accordion-two/iac-dec-com-accordion-two.component";
import { FormsModule, ReactiveFormsModule } from "@angular/forms";

@NgModule({
  declarations: [IacDecComAccordionTwoComponent],
  imports: [CommonModule, FormsModule, ReactiveFormsModule],
  exports: [IacDecComAccordionTwoComponent],
})
export class IacDecComAccordionTwoModule {}
